/* This defines styles and classes used in the book */
body {
  margin: 5%;
  text-align: justify;
  font-size: medium;
}
code {
  	font-family: "Ubuntu Mono", monospace;
}
pre {

	padding: 1em;
	border-top: 1px dotted #BFBFBF;
	border-bottom: 1px dotted #BFBFBF;
	transition: all 100ms ease-in 0s;

  	white-space: pre-wrap;
  	font-family: "Ubuntu Mono", monospace;
  	margin: 25px 0 25px 20px;
  	font-size: 85%;
  	display: block;
  	-webkit-hyphens: none;
  	hyphens: none;
	adobe-hyphenate: none;
}

.ghci{

	background-color: Gainsboro;
}
img {
    float: right;
    margin: 8px;
}
h1 {
  text-align: left;
}
h2 {
  text-align: left;
}
h3 {
  text-align: left;
}
h4 {
  text-align: left;
}
h5 {
  text-align: left;
}
h6 {
  text-align: left;
}
ol.toc {
  padding: 0;
  margin-left: 1em;
}
ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
pre {
  white-space: pre-wrap;
  /* CSS 3 */
}
